span {
  display: flex;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.container {
  border-bottom: 2px solid #bfbfbfdb;
  height: 150px;
  padding-left: 20px;
}

.App {
  margin-left: 20px;
  margin-right: 20px;
}

.forms {
  display: block;
  margin: 5px 0 5px;
}

.header {
  color: white;
  height: 40px;
  background: #2c80bb;
  position: relative;
}

.navbar {
  position: relative;
  top: -5px;
  float: right;
  padding-right: 20px;
  font-weight: 600;
  float: right;
  padding-right: 20px;
  list-style-type: none;
}

.done {
  color: green;
  font-weight: 600;
  font-size: 18px;
}

.auth {
  margin-top: 2px;
  margin-left: 5px;
}

.noDone {
  color: red;
  font-weight: 600;
  font-size: 18px;
}

.changeText {
  margin-left: 5px;
}

.name {
  font-weight: 600;
  padding-right: 5px;
}

.sort {
  float: right;
}

.pages {
  display: flex;
  list-style-type: none;
}

.button4 {
  position: absolute;
  margin-left: 20px;
  display: inline-block;
  font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L",
    sans-serif;
  font-weight: 700;
  color: rgb(245, 245, 245);
  text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  user-select: none;
  padding: 0.3em 1em;
  outline: none;
  border: none;
  border-radius: 3px;
  background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
  box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98,
    #3caa3c 0 0 0 1px, rgba(0, 0, 0, 0.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}
.button4:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}
.button4:active {
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px #fff,
    inset 0 1px 2px rgba(0, 0, 0, 0.8), inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}
@-webkit-keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}
@keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}
